# üìò MySQL with Python: Full Tutorial in Jupyter Notebook
This notebook demonstrates how to:
- Create a MySQL database and tables
- Insert synthetic data
- Perform CRUD operations
- Use INNER JOIN
- Use GROUP BY
- Apply aggregate functions like COUNT(), SUM(), AVG(), MAX(), MIN()

In [11]:
# ‚úÖ Install mysql-connector-python if not already installed
!pip install mysql-connector-python
!pip install pymysql
!pip install sql

Requirement already satisfied: mysql-connector-python in /Users/suchetaghosh/miniconda3/lib/python3.11/site-packages (9.2.0)
Requirement already satisfied: pymysql in /Users/suchetaghosh/miniconda3/lib/python3.11/site-packages (1.1.1)
Collecting sql
  Downloading sql-2022.4.0.tar.gz (4.2 kB)
  Preparing metadata (setup.py) ... done
Building wheels for collected packages: sql
  Building wheel for sql (setup.py) ... done
  Created wheel for sql: filename=sql-2022.4.0-py3-none-any.whl size=4306 sha256=bd742621ee45daa9ab7818af74db886708a32cdb56477163ba03d8552e89a594
  Stored in directory: /Users/suchetaghosh/Library/Caches/pip/wheels/a6/f1/62/be6faba20c8384c5766c0332c93841b610ab2602d6ae312bbf
Successfully built sql
Installing collected packages: sql
Successfully installed sql-2022.4.0

In [13]:
import mysql.connector
from mysql.connector import Error

# Connect to MySQL server (adjust credentials as needed)
conn = mysql.connector.connect(
    host='localhost',
    user='root',
    #password='yourpassword'  # üîÅ Replace with your MySQL password
)
cursor = conn.cursor()

In [20]:
# üì¶ Create Database
cursor.execute("CREATE DATABASE IF NOT EXISTS ShopDB")
cursor.execute("USE ShopDB")

In [22]:
# üß± Create Tables
cursor.execute("""
CREATE TABLE IF NOT EXISTS Customers (
    CustomerID INT PRIMARY KEY,
    Name VARCHAR(50)
);

CREATE TABLE IF NOT EXISTS Orders (
    OrderID INT PRIMARY KEY,
    CustomerID INT,
    Amount DECIMAL(10,2),
    FOREIGN KEY (CustomerID) REFERENCES Customers(CustomerID)
);
""")

InternalError: Unread result found

In [27]:
import mysql.connector

conn = mysql.connector.connect(
    host="localhost",
    user="root",
    database="ShopDB"
)

cursor = conn.cursor()

# Clear the tables before inserting new data
cursor.execute("DELETE FROM Orders")
cursor.execute("DELETE FROM Customers")

# Insert synthetic customer data
customers = [
    (1, 'Alice'),
    (2, 'Bob'),
    (3, 'Charlie')
]

# Insert synthetic order data
orders = [
    (101, 1, 250.00),
    (102, 1, 150.50),
    (103, 2, 450.75),
    (104, 3, 300.00),
    (105, 2, 120.25)
]

In [28]:
# üß™ Insert Synthetic Data
cursor.execute("DELETE FROM Orders")
cursor.execute("DELETE FROM Customers")

customers = [
    (1, 'Alice'),
    (2, 'Bob'),
    (3, 'Charlie')
]
orders = [
    (101, 1, 250.00),
    (102, 1, 150.50),
    (103, 2, 450.75),
    (104, 3, 300.00),
    (105, 2, 120.25)
]

cursor.executemany("INSERT INTO Customers (CustomerID, Name) VALUES (%s, %s)", customers)
cursor.executemany("INSERT INTO Orders (OrderID, CustomerID, Amount) VALUES (%s, %s, %s)", orders)
conn.commit()

In [29]:
# üîç SELECT + INNER JOIN
cursor.execute("""
SELECT Customers.Name, Orders.Amount
FROM Customers
INNER JOIN Orders ON Customers.CustomerID = Orders.CustomerID;
""")
for row in cursor.fetchall():
    print(row)

('Alice', Decimal('250.00'))
('Alice', Decimal('150.50'))
('Bob', Decimal('450.75'))
('Bob', Decimal('120.25'))
('Charlie', Decimal('300.00'))

In [30]:
# üîÑ GROUP BY + AGGREGATES
cursor.execute("""
SELECT CustomerID,
       COUNT(*) AS OrderCount,
       SUM(Amount) AS Total,
       AVG(Amount) AS Average,
       MAX(Amount) AS MaxAmount,
       MIN(Amount) AS MinAmount
FROM Orders
GROUP BY CustomerID;
""")
for row in cursor.fetchall():
    print(row)

(1, 2, Decimal('400.50'), Decimal('200.250000'), Decimal('250.00'), Decimal('150.50'))
(2, 2, Decimal('571.00'), Decimal('285.500000'), Decimal('450.75'), Decimal('120.25'))
(3, 1, Decimal('300.00'), Decimal('300.000000'), Decimal('300.00'), Decimal('300.00'))

In [31]:
# üßπ Close connection
cursor.close()
conn.close()